

<section class="col-12 bg-white">
    
    
    <div class="col-12 border-top mt-5">
        <div class="col-12 row text-center">
            <div class="col-3">
                <h3 class="col-12 border-bottom p-2">Explore</h3>

                <p class="col-12 p-2"><a href="#">Home</a></p>
                <p class="col-12 p-2"><a href="#">About</a></p>
                <p class="col-12 p-2"><a href="#">Snippet</a></p>
                <p class="col-12 p-2"><a href="#">Careers</a></p>
            </div>
    
            <div class="col-3">
                <h3 class="col-12 border-bottom p-2">Visit</h3>

                <div class="col-12 text-start">
                    <p class="col-12 border-bottom p-2">Lincoln House 78 Bhulabhai Desai Road Mumbai 400 026</p>
                    <p class="col-12 border-bottom p-2">Phone: (22) 2363-3611 </p>
                    <p class="col-12 border-bottom p-2">Fax: (22) 2363-0350 </p>
                </div>
            </div>
    
            <div class="col-3">
                <h3 class="col-12 border-bottom p-2">Legal</h3>
                
                <p class="col-12 m-2 p-2"><a href="#">Terms and Conditions</a></p>
                <p class="col-12 m-2 p-2"><a href="#">Private Policy</a></p>
            </div>
    
            <div class="col-3">
                <h3 class="col-12 border-bottom p-2">Subscribe to US</h3>
                                
                <p class="col-12 p-2"><a href="#">Subscribe</a></p>

                <p class="col-12 p-2">Connect With US</p>
                
                <i class="p-2 fab fa-facebook-square social fa-2x"></i>
                <i class="p-2 fab fa-linkedin social fa-2x"></i>
                <i class="p-2 fab fa-twitter-square social fa-2x"></i>
            </div>
        </div>
    
        <div class="col-12 text-center p-5">
            <p><i class="material-icons tiny">copyright</i>copyright 2021 - All right reserved</p>
        </div>
    </div>
</section>