<div class="container col-12 m-auto">
  
   <div class="col-xl-4 col-lg-4 col-md-4 col-md-10 col-12 m-auto">
    <form class="form-login text-center">
        <div class="form-group">
         <img src="assets/images/logo-batman.png"  class="img-fluid" style=" max-width: 40%; height: auto;" alt="Logo" class="logo-login">
         <label class="col-12 title-1"> Welcome! </label>
        </div>
        <div class="form-group item">
          <label for="exampleInputEmail1" class="mt-4 text-white">Email</label>
          <input type="email" class="form-control w-75 m-auto" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group item">
          <label for="exampleInputPassword1" class="mt-4 text-white">Password</label>
          <input type="password" class="form-control w-75  m-auto" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn mt-2 mb-1">Submit</button>
      </form>
   </div>
</div>